body{
    background: #181719;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
   
   
}
a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

svg{
    fill: #ffffff;
}

.navbar{
    position: relative;
    min-width: 380px;
    

    .container{
        display: flex;
        justify-content: space-between;
        padding: 2em 1em;
        margin-top: -.5em;
        

       
        .logo{
            border: 2px solid #ffffff;
            font-family: 'Crimson Pro', sans-serif;
            font-weight: 200 lighter;
            font-size: 20px;
            word-spacing: .01em;
            padding: .5em 0.2em;
            text-align: center;
            min-width: 7em;
        }

        .menu{
            cursor: pointer;
            width: 2.5em;
            height: 2em;
            margin-top: .1em;
        }

        .open-nav{
            display: block;
        }

        div{
            background:#181719;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            width: 100%;
            height: 100%;
            display: none;

        

            .exit{
                float: right;
                width: 3em;
                height: 2em;
                margin: 2em 1em;
                cursor: pointer;
            }


            ul{
                list-style: none;
                text-align: center;
                line-height: 3.2;
                margin-top: 13em;
                margin-left: -2em;

                li:hover{
                    text-decoration: underline;
                    font-weight: 800 bold;
                    
                }
            }
        }
       
    }
}




.hero{

    margin-top: -2.5em;
    position: relative;
    

    .container{
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        
        
        


        .left-col{
            

            .header{
                font-size: 2.8em;
                max-width: 372px;
                min-width: 372px;
                font-family: 'Lora', sans-serif;
                font-weight: 500;
                opacity: 0;
                animation: fadeIn 3s  500ms  forwards;
            }

            @keyframes fadeIn {

                0%{
                    
                    transform: translateY(20px);
                }
            
                50%{
                    transform: translateY(0);
                }
            
                100%{
                    opacity: 1;
                }
                
            }
            
            

            p{
                max-width: 16.5em;
                min-width: 16.5em;
                font-size: 1.2em;
                margin-top: -.8em;
                font-weight: 400;
                opacity: 0;
                animation: fadeIn 3s  2s  forwards;
            }

            h3{
                font-weight: 700;
                width: 15em;
                transform: translateX(-100%);
                animation: moveIn 2s 3s forwards;

                svg{
                    width: 2em;
                    height: 1.5m;
                    animation: moving 3s infinite forwards;
                }

                @keyframes moving {

                    0%{
                        transform: translate(0%, 30%);
                    }

                    50%{
                        transform: translate(50%, 30%);
                    }
                    100%{
                        transform: translate(0%, 30%);
                    }
                    
                }
            }

            @keyframes moveIn {

                0%{
                    
                    transform: translateX(-100%);
                }
            
                100%{
                    transform: translateX(0%);
                }
            
                
            }
            
            
        }

        .right-col{
            margin: 1.5em 0;
            align-self: flex-end;
            
            

            .interior{
                width: 455px;
                height: 400px;
                position: relative;
            }

            .section-container{
                width:395px;
                padding: 1em;
                border-radius: .1em;
                box-sizing: border-box;
                transform: translate(12%, -38%);
                background: #181719;
                .designer-intro{
                    display: flex;
                    margin-top: .1em;

                    .person{
                        border-radius: 30em;
                       
                        max-width: 60px;
                        max-height: 75px;
                    }

                    h3{
                        margin-left: 1.2em;
                        transform: translateY(-50%);
                        font-weight: 500;
                    }

                    p{
                        transform: translate(-101%, 70%);
                        font-weight: 500;
                    }
                }

                h2{
                    font-size: 2em;
                    font-family: 'Lora', sans-serif;
                    font-weight: 700;
                }
                

            }

        }

    }

}

.footer{

    .container{
        display: block;
        white-space: nowrap;
        margin: 0 1em 3em 1em;
        text-align: center;
        font-size: 1em;
        
    
        h3{
            color:#BDBDBD;
            
        }
    
        a{
            color:#BDBDBD;
            
            
    
        }
    
        .dev-link{
            text-decoration: none;
        }
    
    }
    

}

.nav-list {
    display: block;
}




@media only screen and (min-width:890px){

    body{
        margin: 0 2em;
    }
    .navbar{
        
        .container{

            .logo{
               padding: auto;

            }
            .menu{
                display: none;
            }
            div{
                display: block;
                position: unset;
                width: 30em;
                height: 0;
                background-color:none;
                margin-right: 4em;

                ul{
                    text-align: unset;
                    margin-top:0;
                    margin-left: 0;
                    display: flex;

                    li{
                        padding: 0 2em;
                    
                    }
                }
                

                .exit{
                    display: none;
                }
            }
        }
    }

    .hero{
        .container{
            justify-content: space-between;
            flex-direction: row;
            margin-top: 5em;

            .left-col{
                margin-top: 4em;
            }

        }
    }
    
}



@media only screen and (min-width:1020px){

    .hero{
        .container{
            .right-col{

                .interior{
        
                    width:520px;
                    height: 60vh;
                    margin-right: 2em;
                }

                .section-container{
                    transform: translate(27%, -32%);

                }

            }
        }
    }

   
}


@media only screen and (min-width:1100px){

    .hero{
        .container{
            .right-col{

                .interior{
        
                    width:650px;
                    height: 60vh;
                    margin-right: 2em;
                }

                .section-container{
                    transform: translate(60%, -32%);

                }

            }
        }
    }

   

}











