body {
  background: #181719;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

svg {
  fill: #ffffff;
}

.navbar {
  position: relative;
  min-width: 380px;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 1em;
  margin-top: -.5em;
}

.navbar .container .logo {
  border: 2px solid #ffffff;
  font-family: 'Crimson Pro', sans-serif;
  font-weight: 200 lighter;
  font-size: 20px;
  word-spacing: .01em;
  padding: .5em 0.2em;
  text-align: center;
  min-width: 7em;
}

.navbar .container .menu {
  cursor: pointer;
  width: 2.5em;
  height: 2em;
  margin-top: .1em;
}

.navbar .container .open-nav {
  display: block;
}

.navbar .container div {
  background: #181719;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
}

.navbar .container div .exit {
  float: right;
  width: 3em;
  height: 2em;
  margin: 2em 1em;
  cursor: pointer;
}

.navbar .container div ul {
  list-style: none;
  text-align: center;
  line-height: 3.2;
  margin-top: 13em;
  margin-left: -2em;
}

.navbar .container div ul li:hover {
  text-decoration: underline;
  font-weight: 800 bold;
}

.hero {
  margin-top: -2.5em;
  position: relative;
}

.hero .container {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .container .left-col .header {
  font-size: 2.8em;
  max-width: 372px;
  min-width: 372px;
  font-family: 'Lora', sans-serif;
  font-weight: 500;
  opacity: 0;
  -webkit-animation: fadeIn 3s  500ms  forwards;
          animation: fadeIn 3s  500ms  forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.hero .container .left-col p {
  max-width: 16.5em;
  min-width: 16.5em;
  font-size: 1.2em;
  margin-top: -.8em;
  font-weight: 400;
  opacity: 0;
  -webkit-animation: fadeIn 3s  2s  forwards;
          animation: fadeIn 3s  2s  forwards;
}

.hero .container .left-col h3 {
  font-weight: 700;
  width: 15em;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: moveIn 2s 3s forwards;
          animation: moveIn 2s 3s forwards;
}

.hero .container .left-col h3 svg {
  width: 2em;
  height: 1.5m;
  -webkit-animation: moving 3s infinite forwards;
          animation: moving 3s infinite forwards;
}

@-webkit-keyframes moving {
  0% {
    -webkit-transform: translate(0%, 30%);
            transform: translate(0%, 30%);
  }
  50% {
    -webkit-transform: translate(50%, 30%);
            transform: translate(50%, 30%);
  }
  100% {
    -webkit-transform: translate(0%, 30%);
            transform: translate(0%, 30%);
  }
}

@keyframes moving {
  0% {
    -webkit-transform: translate(0%, 30%);
            transform: translate(0%, 30%);
  }
  50% {
    -webkit-transform: translate(50%, 30%);
            transform: translate(50%, 30%);
  }
  100% {
    -webkit-transform: translate(0%, 30%);
            transform: translate(0%, 30%);
  }
}

@-webkit-keyframes moveIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes moveIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.hero .container .right-col {
  margin: 1.5em 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.hero .container .right-col .interior {
  /*width: 455px;*/
  width: 455px;
  height: 40vh;
  position: relative;
}

.hero .container .right-col .section-container {
  width: 395px;
  padding: 1em;
  border-radius: .1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate(12%, -38%);
          transform: translate(12%, -38%);
  background: #181719;
}

.hero .container .right-col .section-container .designer-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .1em;
}

.hero .container .right-col .section-container .designer-intro .person {
  border-radius: 30em;
  max-width: 60px;
  max-height: 75px;
}

.hero .container .right-col .section-container .designer-intro h3 {
  margin-left: 1.2em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 500;
}

.hero .container .right-col .section-container .designer-intro p {
  -webkit-transform: translate(-101%, 70%);
          transform: translate(-101%, 70%);
  font-weight: 500;
}

.hero .container .right-col .section-container h2 {
  font-size: 2em;
  font-family: 'Lora', sans-serif;
  font-weight: 700;
}

.footer .container {
  display: block;
  white-space: nowrap;
  margin: 0 1em 3em 1em;
  text-align: center;
  font-size: 1em;
}

.footer .container h3 {
  color: #BDBDBD;
}

.footer .container a {
  color: #BDBDBD;
}

.footer .container .dev-link {
  text-decoration: none;
}

.nav-list {
  display: block;
}

@media only screen and (min-width: 890px) {
  body {
    margin: 0 2em;
  }
  .navbar .container .logo {
    padding: auto;
  }
  .navbar .container .menu {
    display: none;
  }
  .navbar .container div {
    display: block;
    position: unset;
    width: 30em;
    height: 0;
    background-color: none;
    margin-right: 4em;
  }
  .navbar .container div ul {
    text-align: unset;
    margin-top: 0;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .container div ul li {
    padding: 0 2em;
  }
  .navbar .container div .exit {
    display: none;
  }
  .hero .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 5em;
  }
  .hero .container .left-col {
    margin-top: 4em;
  }
}

@media only screen and (min-width: 1020px) {
  .hero .container .right-col .interior {
    width: 520px;
    height: 40vh;
    margin-right: 2em;
  }
  .hero .container .right-col .section-container {
    -webkit-transform: translate(27%, -32%);
            transform: translate(27%, -32%);
  }
}

@media only screen and (min-width: 1100px) {
  .hero .container .right-col .interior {
    width: 600px;
    height: 45vh;
    margin-right: 2em;
  }
  .hero .container .right-col .section-container {
    width: 420px;
    padding: 1em;
    border-radius: .1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: translate(40%, -35%);
            transform: translate(40%, -35%);
    background: #181719;
  }
}

@media only screen and (max-width: 500px) {
  .hero .container .right-col .interior {
    width: 300px;
    height: 25vh;
    margin-left: 10em;
  }
  .hero .container .right-col .section-container {
    width: 250px;
    padding: 1em;
    border-radius: .1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: translate(80%, -25%);
            transform: translate(80%, -25%);
    background: #181719;
  }
  .hero .container .right-col .section-container .designer-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: .1em;
  }
  .hero .container .right-col .section-container .designer-intro .person {
    border-radius: 35em;
    max-width: 60px;
    max-height: 65px;
  }
  .hero .container .right-col .section-container .designer-intro h3 {
    margin-left: .5em;
    -webkit-transform: translate(3%, -50%);
            transform: translate(3%, -50%);
    font-weight: 500;
    white-space: nowrap;
  }
  .hero .container .right-col .section-container .designer-intro p {
    -webkit-transform: translate(-95%, 50%);
            transform: translate(-95%, 50%);
    font-weight: 500;
    white-space: nowrap;
    margin-top: 1em;
  }
  .hero .container .right-col .section-container h2 {
    font-size: 1.2rem;
  }
  .footer {
    margin-left: -.5em;
  }
}
/*# sourceMappingURL=main.css.map */
